/* Warna Yang Penting Panggil Class Nya  */
.warna-hijau {
    color:#224038;
}

.warna-putih {
    color: #ffffff;
}

.warna-abu {
    color: #E3E3E3 ;
}

.warna-abu-hitam {
    color: #666666;
}

.bg-hijau {
    background-color: #224038;
}

.bg-putih {
    background-color: #ffffff;
}

.bg-abu {
    background-color: #E3E3E3 ;
} 

.bg-abu-hitam {
    background-color: #666666;
}




/* Ini Beranda */
.btn-hijau {
    background-color: #224038;
    border-radius: 4px;
    color: #ffffff;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}


.navbar-custom {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}  

*{
    margin: 0;
    padding: 0;
    font-family:  Poppins;
    box-sizing: border-box;
}

body {
    display: relative;
    background-color: #E3E3E3;
}

.container-full {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.pt-10 {
    padding-top: 600px;
}

.iniclas {
    box-shadow: 0 30px 30px 0 #9a2c2c;
}

h1 {
    font-size: 35px;
}

.hamburgermenu {
    display : none;
}



/* Gading */
.kotak-konten{
    padding-top: 100px;
    background-size: cover;
    position: relative;
    margin-top: -300px;
    width: 100%;
    height: 550px;
}
/* gading */
@media only screen and (max-width: 860px) {
    #navbarNavAltMarkup {
        font-size: 0.7em;
    }
}

@media only screen and (max-width:688px){
    #navbarNavAltMarkup {
        display: none !important;
    }
    .logoagro {
        scale: 0.7;
    }
    .hamburgermenu {
        display: block;
            width: 34px;
            height: 34px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 2px;
            overflow: hidden;
        }

    }

.strip {
    display: block;
    width: 100%;
    height: 20%;
    background-color:#ffffff ;
}

.atascoro{
    top: 400px;
    position: absolute;
}

.produk-card {
    width: 264px;
    height: 330px;
    background-color: white;
}

.bg-agro {
    width: 100%;
    height: 300px;
    background-color: #224038;
}
.our-grub {
    width: 100%;
    height: 90px;
    background-color: #224038;
    margin-bottom: 2%;
}

.logo-corp {
    width: 230px;
    height: 85px;
    background-color: #ffffff;
}


/* animasi tentang kami */
.ttg-kami {
    position: relative;
    font-weight: bolder;
    font-size: 45px;
    color: #ffffff;
    -webkit-text-stroke: 0.3px #224038;
}

.ttg-kami::before {
    content: attr(data-text);
    position: absolute;
    width: 0%;
    height: 100%;
    color: #224038;
    -webkit-text-stroke: 0px #ffffff;
    border-right: 1.2px solid #224038;
    overflow: hidden;
    animation: animate 2.5s ease-in-out infinite;
}

@keyframes animate {
    0%, 100% {
        width: 0%;
    }
    35%, 65% {
        width: 28%;
    }
}
