@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --blue-color: #4070f4;
    --white-color: #fff;
    --gray-color: #a6a6a6;
    --red-color: #d93025;
    --red1-color: #d93025;
    --green-color: #00c200;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue-color);
}

.wrapper {
    width: 100%;
    padding: 35px 40px;
    max-width: 480px;
    background: var(--white-color);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2);
}

.wrapper .title {
    padding: 6px 0 6px 0;
    font-size: 32px;
    font-weight: 700;
    color: var(--blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
  }

  .wrapper .desc {
    padding: 6px 0 12px 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.wrapper .input-box {
    position: relative;
    height: 60px;
    margin: 25px 0;
}

.input-box input {
    height: 100%;
    width: 100%;
    background: var(--white-color);
    color: #333;
    font-size: 15px;
    font-weight: 400;
    outline: none;
    border-radius: 6px;
    padding: 0 40px 0 16px;
    border: 2px solid var(--gray-color);
}

.input-box label,
.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--gray-color);
    transition: all 0.2s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: var(--blue-color);
}

.input-box input:focus ~ i,
.input-box input:valid ~ i {
    color: var(--blue-color);
}

.input-box label {
    left: 15px;
    font-size: 15px;
    font-weight: 500;
    padding: 0 5px;
    cursor: text;
    background: var(--white-color);
}

/* untuk animasi pada label input */
.input-box input:focus ~ label {
    top: 0;
    color: var(--blue-color);
    font-size: 15px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: 0;
    font-size: 15px;
    color: var(--blue-color);
}
/* akhir animasi pada label input */

.input-box i#user_icon {
    right: 15px;
    font-size: 20px;
}

.input-box i#pass_icon {
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

/* untuk tampilan remember me dan forget pass */
.wrapper .forget {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -10px 0 ;
}

.forget label,
.forget a {
    color: var(--gray-color);
    text-decoration: none;
}

.forget label:hover,
.forget a:hover,
.forget input:hover {
    color: var(--blue-color);
    text-decoration: none;
    cursor: pointer;
}
/* end tampilan remember me dan forget pass */

/* untuk register */
.wrapper .register {
  font-size: 14.5px;
  text-align: center;
  margin: -5px 0 10px;
}

.register .text,
.register .link {
  color: var(--gray-color);
  text-decoration: none;
  font-weight: 600;
}

.register .text:hover {
  color: var(--blue-color);
  cursor: default;
}

.register .link:hover {
  color: var(--blue-color);
  text-decoration: underline;
}
/* end register */

/* start untuk button */
.input-box.button #button {
    background: var(--blue-color);
    color: var(--white-color);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
}

.input-box.button #button:hover {
    background: #265df2;
}
/* end untuk button */
